<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="example_suite_1" >
    <test name="UI">
        <classes>
            <class name="org.example.automation.test.AmazonDetailsTest"/>
            <class name="org.example.automation.test.LoginTest"/>
        </classes>
    </test>
</suite>